*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
section{ 
    text-align: center;
}
section.boton{
    width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

button{
    display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: black;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

}
button:hover::after {
	transform: scale(400);
	background: #cc1010;
}
button::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .3s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}
.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(234, 47, 33); }

header{
    background-color: rgb(0, 0, 0);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgba(224, 28, 28, 0.89);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    color: rgb(209, 35, 35);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/cuantos-lenguajes-de-programacion-existen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 20px;
}

#somostecnocod .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestroscursos{
    background-color: rgb(255, 253, 253);
    text-align: center;
}

#nuestroscursos .container{
    padding: 150px 12px;
}

#nuestroscursos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestroscursos p{
    display: none;
}

#nuestroscursos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/Siemens.jpg);

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/Python.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/PHP.jpg);

}

#Contacto{
    border-style: outset;
    background-color: rgb(255, 250, 250);
    color: black;
}

#Soporte .container{
    text-align: center;
    padding: 250px 12px;
}

#Soporte li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 20px;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}


@media (min-width: 760px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somostecnocod .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somostecnocod .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somostecnocod h2{
        margin-top: 0px;
    }

    #somostecnocod .img-container{
        background-image: url(imagenes/Programador-33-696x464.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestroscursos .Cursos{
        display: flex;
        justify-content: center;
    }

    #nuestroscursos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestroscursos h2{
        font-size: 4em;
    }

    #nuestroscursos h3{
        margin-top: 0;
    }

    #nuestroscursos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(imagenes/Siemens.jpg);

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(imagenes/Python.jpg);
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(imagenes/PHP.jpg);

    }

    #Soporte{
        background-image: url(imagenes/programadores-en-la-industria-4-0-universidad-continental.jpg);
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #Soporte .container{
        text-align: initial;
    }

    #Soporte ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 1.75em;
    }
    footer .container{
        background-color: rgb(230,230,230);
        justify-content: flex-end;
    }
    
}

@media (min-width: 1400px) {
    #Soporte{
        background-position-x: calc(100vw - 800px);
    }
}
