header{
    background-color: red;
    p{
        font-size: 4em;
        color: blue;
    }
    nav{ 
        
        ul{
            li{
                list-style: none;
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}