@import'variables';
@import'pagina3';
$primary-color:white;
$p-color:red;
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
header{
    .logo{
        margin: 0;
        padding: 25px 30px;
        font-weight: bold;
        color: $p-color;
        font-size: 1.6em;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 25px;
    }
    a{
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    a:hover{
        color:$p-color;    }
}
@media (min-width: 1200px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #nuestroscursos .Cursos{
        display: flex;
        justify-content: center;
    }

    #nuestroscursos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestroscursos h2{
        font-size: 4em;
    }

    #nuestroscursos h3{
        margin-top: 0;
    }

    #nuestroscursos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(img2/Siemens.jpg);

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(img2/Python.jpg);
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(img2/PHP.jpg);

    }

   
}